/* ============================================
   Anime-themed SVG icons as inline data URIs
   and additional icon utilities
   ============================================ */

/* Icon base class */
.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  vertical-align: middle;
  fill: currentColor;
}

.icon svg {
  width: 100%;
  height: 100%;
}
